<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="ui-search">
  <template>
    <form action="/search" method="post">
      <input id="[[id]]" type="search" name="[[name]]" placeholder="[[placeholder]]" value="{{query::input}}">
    </form>
  </template>

  <script>
    Polymer({
      is: 'ui-search',
      properties: {
        id: { type: String, value: 'search' },
        name: { type: String, value: 'q' },
        placeholder: { type: String, value: 'Search...' },
        query: { type: String, notify: true, value: '' }
      }
    });
  </script>
</dom-module>