<% set_meta_tags title: "Elements" %>
<% set_meta_tags description: "Browse custom elements used in Polymer projects." %>

<h1>Elements</h1>

<ul>
<% blog.tags.each do |tag, articles| %>
  <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
<% end %>
</ul>