<h1>Submit Website</h1>
<p>Build something cool with Polymer and web components? Submit your site and you'll have the chance to appear on Built with Polymer!</p>

<form action="__/submit" method="post">
  <div layout horizontal>
    <div class="label">
      <label for="name">Name:</label>
    </div>
    <div flex>
      <input type="text" id="name" name="name">
    </div>
  </div>
  <div layout horizontal>
    <div class="label">
      <label for="email">Email Address:</label>
    </div>
    <div flex>
      <input type="email" id="email" name="email">
    </div>
  </div>
  <textarea id="desc" name="desc" cols="40" rows="5" placeholder="Provide a short description of your Polymer project and custom elements used."></textarea><br>
  <button type="submit">Submit</button>
</form>